<div class="ArticleEdit">
    <input type="text" ng-model="article.Title" id="article.Title.Edit" />
    <textarea ng-model="article.Content"></textarea>
    <footer>
        <button class="btn btn-sm btn-primary" ng-click="goView()">VIEW</button>
        <button class="btn btn-sm btn-primary" ng-click="goSite()">GO SITE</button>
        <button class="btn btn-sm btn-primary" ng-click="goTheme()">THEME</button>
        <button class="btn btn-sm btn-primary" ng-click="goSave()">SAVE</button> 
    </footer>
</div>
<!-- Modal -->