<!-- begin module -->
<div class="container _container">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading _bg-white _border-bottom">
                <span class="label-title">
                    {{ label.Res_0103_01 }}
                </span>
            </div>
            <div class="panel-body">
                <div class="panel-group">
                    <div id="box-scroll-1" class="box-scroll"></div>
                    <div id="box-1" role="1" class="box-item">
                        <div class="panel panel-default _boder-none box-settingcategory1">
                            <div class="panel-heading settingcategory1"
                                 data-toggle="collapse" data-target="#body-settingcategory1" aria-expanded="false" aria-controls="body-settingcategory1">
                                <span class="label-title">
                                    {{ label.Res_0103_01_01 }}
                                </span>
                                <span class="glyphicon glyphicon-chevron-down _float-right"></span>
                            </div>
                            <div class="panel-body collapse" id="body-settingcategory1">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group checkbox" ng-bind-html-unsafe="settingcategory1_enable_checkbox | bindUICheckBox:this">
                                        </div>
                                    </div>
                                </div>
                                <div class="row _padding-field-bottom">
                                    <div class="col-sm-6"><span class="_padding-left-title label-title">{{ label.Res_0103_01_01_02 }}</span></div>
                                    <div class="col-sm-6">
                                        <div class="switch _float-right" ng-bind-html-unsafe="settingname1_setting1_switch | bindUISwitchToggle:this">
                                        </div>
                                    </div>
                                </div>
                                <div class="row _padding-field-bottom">
                                    <div class="col-sm-6"><span class="_padding-left-title label-title">{{ label.Res_0103_01_01_03 }}</span></div>
                                    <div class="col-sm-6">
                                        <div class="switch _float-right" ng-bind-html-unsafe="settingname1_setting2_switch | bindUISwitchToggle:this">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6"><span class="_padding-left-title label-title">{{ label.Res_0103_01_01_04 }}</span></div>
                                    <div class="col-sm-6">
                                        <div class="switch _float-right" ng-bind-html-unsafe="settingname1_setting3_switch | bindUISwitchToggle:this">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="box-scroll-2" class="box-scroll"></div>
                    <div id="box-2" role="2" class="box-item">
                        <div class="panel panel-default _boder-none box-settingcategory2">
                            <div class="panel-heading settingcategory2"
                                 data-toggle="collapse" data-target="#body-settingcategory2" aria-expanded="false" aria-controls="body-settingcategory2">
                                <span class="label-title">
                                    {{ label.Res_0103_01_02}}
                                </span>
                                <span class="glyphicon glyphicon-chevron-down _float-right"></span>
                            </div>
                            <div class="panel-body collapse" id="body-settingcategory2">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class='form-group checkbox' ng-bind-html-unsafe="settingcategory2_enable_checkbox | bindUICheckBox:this">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6"><span class="_padding-left-title label-title">{{ label.Res_0103_01_02_02 }}</span></div>
                                    <div class="col-sm-6" ng-bind-html-unsafe="settingcategory2_setting1_textbox | bindUITextBox:this">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="box-scroll-3" class="box-scroll"></div>
                    <div id="box-3" role="3" class="box-item">
                        <div class="panel panel-default _boder-none box-settingcategory3">
                            <div class="panel-heading settingcategory3"
                                 data-toggle="collapse" data-target="#body-settingcategory3" aria-expanded="false" aria-controls="body-settingcategory3">
                                <span class="label-title">
                                    {{ label.Res_0103_01_03}}
                                </span>
                                <span class="glyphicon glyphicon-chevron-down _float-right"></span>
                            </div>
                            <div class="panel-body collapse" id="body-settingcategory3">
                                <div class="row _padding-field-bottom">
                                    <div class="col-sm-6"><span class="_padding-left-title label-title">{{ label.Res_0103_01_03_01}}</span></div>
                                    <div class="col-sm-6">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                                {{ settingcategory3_setting1 }}&nbsp;&nbsp;<span class="caret"></span>
                                            </button>
                                            <input type="hidden"
                                                   data-item="SettingCategory3.Setting1"
                                                   data-category="settingcategory3"
                                                   value="{{ settingcategory3_setting1 }}" />
                                            <ul class="dropdown-menu" ng-bind-html-unsafe="settingcategory3_setting1_items | bindUIDropDownMenu:this"></ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row _padding-field-bottom">
                                    <div class="col-sm-6"><span class="_padding-left-title label-title">{{ label.Res_0103_01_03_02 }}</span></div>
                                    <div class="col-sm-6" ng-bind-html-unsafe="settingcategory3_setting2_textbox | bindUITextBox:this">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6"><span class="_padding-left-title label-title">{{ label.Res_0103_01_03_03 }}</span></div>
                                    <div class="col-sm-6" ng-bind-html-unsafe="settingcategory3_setting3_textbox | bindUITextBox:this">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="box-scroll-4" class="box-scroll"></div>
                    <div id="box-4" role="4" class="box-item">
                        <div class="panel panel-default _boder-none box-settingcategory4">
                            <div class="panel-heading settingcategory4"
                                 data-toggle="collapse" data-target="#body-settingcategory4" aria-expanded="false" aria-controls="body-settingcategory4">
                                <span class="label-title">
                                    {{ label.Res_0103_01_04}}
                                </span>
                                <span class="glyphicon glyphicon-chevron-down _float-right"></span>
                            </div>
                            <div class="panel-body _padding-bottom-none collapse" id="body-settingcategory4">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <span class="_padding-left-title label-title">{{ label.Res_0103_01_04_01}}</span>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="group-radio">
                                            <input type="hidden"
                                                   data-category="settingcategory4"
                                                   data-item="SettingCategory4.Setting1"
                                                   value="{{ settingcategory4_setting1 }}" />
                                            <div ng-bind-html-unsafe="settingcategory4_setting1_items | bindUIGroupRadio:this"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel _align-right">
            <button ng-click="formSubmit()" class="btn _btn-webui _btn-width">OK</button>
            <button ng-click="formCancel()" class="btn btn-default _btn-width">Cancel</button>
        </div>
    </div>
</div>
<!-- end module -->
