<!-- begin module -->
<div class="container _container">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading _bg-white _border-bottom">
                <span class="label-title">{{ label.Res_0103_01 }}
                </span>
            </div>
            <div class="panel-body">
                <div class="panel-group">
                    <div id="box-scroll-1" class="box-scroll"></div>
                    <div id="box-1" role="1" class="box-item">
                        <div class="panel panel-default _boder-none box-settingcategory1">
                            <div class="panel-heading settingcategory1"
                                data-toggle="collapse" data-target="#body-settingcategory1" aria-expanded="false" aria-controls="body-settingcategory1">
                                <span class="label-title">SettingCategory1 
                                </span>
                                <span class="glyphicon glyphicon-chevron-down _float-right"></span>
                            </div>
                            <div class="panel-body collapse" id="body-settingcategory1">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class='form-group checkbox'>
                                            <input type='checkbox'
                                                data-category="settingcategory1"
                                                data-item="settingname1" id='checkbox001' checked="checked"
                                                data-active="settingname1.setting1;settingname1.setting2;settingname1.setting3">
                                            <label for="checkbox001" class="label-title">
                                                SettingName
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                    </div>
                                </div>
                                <div class="row _padding-field-bottom">
                                    <div class="col-sm-6">
                                        <span class="_padding-left-title label-title">Setting1
                                        </span>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="switch _float-right">
                                            <input type="checkbox"
                                                data-category="settingcategory1"
                                                data-item="settingname1.setting1" id="settingname1.setting1">
                                            <label for="settingname1.setting1"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row _padding-field-bottom">
                                    <div class="col-sm-6">
                                        <span class="_padding-left-title label-title">Setting2
                                        </span>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="switch _float-right">
                                            <input type="checkbox"
                                                data-category="settingcategory1"
                                                data-item="settingname1.setting2" id="settingname1.setting2" checked>
                                            <label for="settingname1.setting2"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <span class="_padding-left-title label-title">Setting3
                                        </span>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="switch _float-right">
                                            <input type="checkbox"
                                                data-category="settingcategory1"
                                                data-item="settingname1.setting3" id="settingname1.setting3" checked>
                                            <label for="settingname1.setting3"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="box-scroll-2" class="box-scroll"></div>
                    <div id="box-2" role="2" class="box-item">
                        <div class="panel panel-default _boder-none box-settingcategory2">
                            <div class="panel-heading settingcategory2"
                                data-toggle="collapse" data-target="#body-settingcategory2" aria-expanded="false" aria-controls="body-settingcategory2">
                                <span class="label-title">SettingCategory2 
                                </span>
                                <span class="glyphicon glyphicon-chevron-down _float-right"></span>
                            </div>
                            <div class="panel-body collapse" id="body-settingcategory2">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class='form-group checkbox'>
                                            <input type='checkbox'
                                                data-category="settingcategory2"
                                                data-item="settingname2" data-active="settingname2.setting1" id='checkbox002'>
                                            <label for="checkbox002" class="label-title">SettingName</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6"><span class="_padding-left-title label-title">Setting1</span></div>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="settingname2.setting1"
                                            data-category="settingcategory2"
                                            data-item="settingname2.setting1" type="text"
                                            data-title="SettingCategory2/Setting1" data-validate="vali_max_length|255"
                                            readonly="readonly">
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                    <div id="box-scroll-3" class="box-scroll"></div>
                    <div id="box-3" role="3" class="box-item">
                        <div class="panel panel-default _boder-none box-settingcategory3">
                            <div class="panel-heading settingcategory3"
                                data-toggle="collapse" data-target="#body-settingcategory3" aria-expanded="false" aria-controls="body-settingcategory3">
                                <span class="label-title">SettingCategory3
                                </span>
                                <span class="glyphicon glyphicon-chevron-down _float-right"></span>
                            </div>
                            <div class="panel-body collapse" id="body-settingcategory3">
                                <div class="row _padding-field-bottom">
                                    <div class="col-sm-6"><span class="_padding-left-title">Setting1</span></div>
                                    <div class="col-sm-6">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                                List Item 1&nbsp;&nbsp;<span class="caret"></span>
                                            </button>
                                            <input type="hidden"
                                                data-item="settingcategory3.setting1"
                                                data-category="settingcategory3"
                                                value="list-item-1" />
                                            <ul class="dropdown-menu">
                                                <li class="active"><a href="javascript:void();" data-value="list-item-1">List Item 1</a></li>
                                                <!--<li class="disabled"><a href="javascript:void();" data-value="list-item-disable">List Item Disable</a></li>-->
                                                <li><a href="javascript:void();" data-value="list-item-2">List Item 2</a></li>
                                                <!--<li class="divider"></li>-->
                                                <li><a href="javascript:void();" data-value="list-item-3">List Item 3</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row _padding-field-bottom">
                                    <div class="col-sm-6"><span class="_padding-left-title">Setting2</span></div>
                                    <div class="col-sm-6">
                                        <input class="form-control"
                                            data-category="settingcategory3"
                                            data-title="SettingCategory3/Setting2" data-validate="vali_max_length|9"
                                            data-item="settingcategory3.setting2"
                                            type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6"><span class="_padding-left-title">Setting3</span></div>
                                    <div class="col-sm-6">
                                        <input class="form-control"
                                            data-category="settingcategory3"
                                            data-title="SettingCategory3/Setting3" data-validate="vali_number_between|1|99"
                                            data-item="settingcategory3.setting3"
                                            type="text">
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div id="box-scroll-4" class="box-scroll"></div>
                    <div id="box-4" role="4" class="box-item">
                        <div class="panel panel-default _boder-none box-settingcategory4">
                            <div class="panel-heading settingcategory4"
                                data-toggle="collapse" data-target="#body-settingcategory4" aria-expanded="false" aria-controls="body-settingcategory4">
                                <span class="label-title">SettingCategory4
                                </span>
                                <span class="glyphicon glyphicon-chevron-down _float-right"></span>
                            </div>
                            <div class="panel-body _padding-bottom-none collapse" id="body-settingcategory4">
                                <div class="row">
                                    <div class="col-sm-6"><span class="_padding-left-title">Setting1</span></div>
                                    <div class="col-sm-6">
                                        <div class="group-radio">
                                            <input type="hidden"
                                                data-category="settingcategory4"
                                                data-item="settingcategory4.setting1"
                                                value="radio-2" />
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="radio" data-value="radio-1">radio 1</label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="radio" data-value="radio-2" checked>radio 2</label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="radio" data-value="radio-3">radio 3</label>
                                            </div>
                                            <!-- <div class="radio disabled">
                                            <label><input type="radio" name="radio" id="radio-disable" disabled>radio disable</label>
                                        </div>-->
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel _align-right">
            <button ng-click="formSubmit()" class="btn _btn-webui _btn-width">OK</button>
            <button ng-click="formCancel()" class="btn btn-default _btn-width">Cancel</button>
        </div>
    </div>
</div>
<!-- end module -->
